{% extends 'partials/layout.html' %}
{% block 'mainlayout' %}


<section id="multiple-column-form">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> 
                        {% if required_customer %}
                            Edit Customer
                        {% else %}
                            Add Customer 
                        {% endif %}


                    </h4>
                </div>
                <div class="card-body">
                    <form class="form"   method="post" id="edit_customer_form"> {% csrf_token %}
                        <div class="row">



                            <div class="col-md-6 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="property_name">Property Name</label>
                                    <input type="text" id="property_name" class="form-control"
                                        placeholder="Property Name" name="property_name"  value="{{required_customer.property.name}}" required>
                                </div>
                            </div> 






                            <div class="col-md-6 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="property_pic">Property PIC</label>
                                    <input type="text" id="property_pic" class="form-control"
                                        placeholder="Property PIC" name="property_pic"  value="{{required_customer.property.pic}}">
                                </div>
                            </div> 


                            <div class="col-md-6 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="customer_name">Customer Name</label>
                                    <input type="text" id="customer_name" class="form-control"  placeholder="Customer Name" name="customer_name" value="{{required_customer.name}}" required>
                                </div>
                            </div>


                            <div class="col-md-6 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="mobile_number">Mobile Number</label>
                                    <input type="text" id="mobile_number" class="form-control"  placeholder="Mobile Number" name="mobile_number"  value="{{required_customer.mobile_number}}" required>
                                </div>
                            </div>


                            <div class="col-md-6 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="email">Customer Email</label>
                                    <input type="email" id="email" class="form-control" placeholder="Customer Email" name="email"  value="{{required_customer.email}}" required>
                                </div>
                            </div>




                            <div class="col-md-6 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="customer_abn">Customer ABN</label>
                                    <input type="text" id="customer_abn" class="form-control" placeholder="Customer ABN"  name="customer_abn"  value="{{required_customer.abn}}" required>
                                </div>
                            </div>



  
 

                            <!-- BEGIN: Property Address Data -->
                            <div class="col-md-12 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="property_address">Property Address</label>
                                    <textarea type="text" id="property_address" class="form-control" placeholder="Property Address" name="property_address"  rows="1"  required>{{required_customer.property_address}}</textarea>
                                </div>
                            </div>

                            <div class="col-md-4 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="property_suburb">Property Suburb</label>
                                    <input type="text" id="property_suburb" class="form-control"  
                                    placeholder="Property Suburb" name="property_suburb"  value="{{required_customer.property_suburb}}"  required>
                                </div>
                            </div>
                            

                            <div class="col-md-4 mb-1">
                                <label class="form-label" for="property_state">Property State</label>
                                <select class="select2 form-select" id="property_state" name='property_state'  required>
                                    <option value='' selected> Select Property State </option> 
                                    {% for state in available_states %}

                                    {% if required_customer.property_state == state %}
                                        <option value="{{state}}" selected>{{state}}</option> 
                                    {% else %}
                                        <option value="{{state}}">{{state}}</option> 
                                    {% endif %} 

                                    {% endfor %}
                                </select>
                            </div>






                            <div class="col-md-4 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="property_postcode">Property Postcode</label>
                                    <input type="text" id="property_postcode" class="form-control"   
                                    placeholder="Property Postcode" name="property_postcode"  value="{{required_customer.property_postcode}}"  required>
                                </div>
                            </div>
                            <!-- END : Property Address Data -->


                            <!-- BEGIN: Billing Address Data -->
                            <div class="col-md-12 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="billing_address">Billing Address</label>
                                    <textarea type="text" id="billing_address" class="form-control"  placeholder="Billing Address" name="billing_address"   rows="1"  required>{{required_customer.billing_address}}</textarea>
                                </div>
                            </div> 

                            <div class="col-md-4 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="billing_suburb">Billing Suburb</label>
                                    <input type="text" id="billing_suburb" class="form-control"  
                                    placeholder="Billing Suburb" name="billing_suburb"  value="{{required_customer.billing_suburb}}"  required>
                                </div>
                            </div>
                            

                            <div class="col-md-4 mb-1">
                                <label class="form-label" for="billing_state">Billing State</label>
                                <select class="select2 form-select" id="billing_state" name='billing_state' required>
                                    <option value='' selected> Select Billing State </option> 
                                    {% for state in available_states %}
                                        
                                        {% if required_customer.billing_state == state %}
                                            <option value="{{state}}" selected>{{state}}</option> 
                                        {% else %}
                                            <option value="{{state}}">{{state}}</option> 
                                        {% endif %}
                                            
                                    {% endfor %}
                                        
                                </select>
                            </div>

                            <div class="col-md-4 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="billing_postcode">Billing Postcode</label>
                                    <input type="text" id="billing_postcode" class="form-control"   minlength="4" maxlength="4"
                                        placeholder="Billing Postcode" name="billing_postcode"   value="{{required_customer.billing_postcode}}" required>
                                </div>
                            </div>
                            <!-- END : Biling Address Data -->
                            
                            
                       



                            <div class="col-12">
                                <button type="submit"
                                    class="btn btn-primary me-1 waves-effect waves-float waves-light">Save and Return</button>
                                <button type="reset" class="btn btn-outline-secondary waves-effect">Reset</button>
                            </div>



                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% if required_customer %}
  <section id="basic-datatable">
    <div class="row">
      <div class="col-12">
        <div class="card" style="padding:0px 2%">
          <div class="card-header border-bottom p-1">
            <div class="head-label">
              <h6 class="mb-0">Enrolled Programs</h6>
            </div>
            <div class="dt-action-buttons text-end">
              <div class="dt-buttons d-inline-flex">
                <a type="button" class="btn btn-primary" href="/manage_customers/edit_customer/{{required_customer.id}}/add_ai_program">
                  Add new Program
                </a>
              </div>
            </div>
          </div>
          <table id="enrolled_program_listing_table" class="table display dataTables_wrapper dt-bootstrap5 no-footer"
            style="width:100%; " cellspacing="0">
  
  
  
  
            <thead>
              <tr class=" ">
                <th class="sorting" tabindex="0" aria-controls="enrolled_program_listing_table" rowspan="1" colspan="1">checkbox </th>
                <th class="sorting" tabindex="0" aria-controls="enrolled_program_listing_table" rowspan="1" colspan="1">checkbox2</th>
                <th class="sorting" tabindex="0" aria-controls="enrolled_program_listing_table" rowspan="1" colspan="1">Start Date</th> 
                <th class="sorting" tabindex="0" aria-controls="enrolled_program_listing_table" rowspan="1" colspan="1">Pull Seed Out  </th> 
                <th class="sorting" tabindex="0" aria-controls="enrolled_program_listing_table" rowspan="1" colspan="1">Pregnancy Test </th> 
                <th class="sorting" tabindex="0" aria-controls="enrolled_program_listing_table" rowspan="1" colspan="1">Status</th> 
              </tr>
            </thead>
  
  
            <tbody>
              {% for program in enrolled_programs %}
              
              <tr>
                <td> {{program.id}} </td> 
                <td> {{program.id}} </td> 
                <td> <a href="/manage_customers/edit_customer/{{required_customer.id}}/edit_ai_program/{{program.id}}"> {{program.start_date}} </a> </td>  
                <td> <a href="/manage_customers/edit_customer/{{required_customer.id}}/edit_ai_program/{{program.id}}"> {{program.pull_seed_out_date}} </a> </td>  
                <td> <a href="/manage_customers/edit_customer/{{required_customer.id}}/edit_ai_program/{{program.id}}"> {{program.pregnancy_test_date}} </a> </td>  

                <td>

                    {% if program.finished  %}
                    <span class="badge rounded-pill badge-glow bg-success">Completed</span>
                    {% else %}
                    <span class="badge rounded-pill badge-glow bg-secondary">Underway</span>
                {% endif %}
                
                </td>
                
    
              </tr>
              {% endfor %}
  
  
  
  
  
            </tbody>
          </table>
  
  
  
        </div>
      </div>
    </div>
  </section>
{% else %}
  



 {% endif %} 

{% block 'jsblock' %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js" integrity="sha256-yE5LLp5HSQ/z+hJeCqkz9hdjNkk1jaiGG0tDCraumnA=" crossorigin="anonymous"></script>
<script>  
    $(document).ready(function() {
        $(":input").inputmask();
        
      })

      $('input[name="mobile_number"]').mask('0000 000 000');
      $('input[name="property_postcode"]').mask('0000');
      $('input[name="billing_postcode"]').mask('0000');
      $('input[name="customer_abn"]').mask('00 000 000 000');


   
      


$('#edit_customer_form').on('submit',function(e){
    
    
    var property_postcode = $('#property_postcode').val()
    var billing_postcode = $('#billing_postcode').val() 
    var mobile_number = $('#mobile_number').val()  
    var customer_abn = $('#customer_abn').val()  
    if(property_postcode.length!=4){
        alert("Please enter a valid Property Postcode")
        e.preventDefault() 
    } 
    else if(billing_postcode.length!=4){
        alert("Please enter a valid Billing Postcode")
        e.preventDefault() 
    }
    else if(mobile_number.length!=12){
        alert("Please enter a valid Mobile Number")
        e.preventDefault() 
    }
    else if(customer_abn.length!=14){
        alert("Please enter a valid ABN")
        e.preventDefault() 
    }


})

</script>
{% endblock 'jsblock' %}

{% endblock 'mainlayout' %}